<% include partials/header %>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Super Pizza Bros</a></li>
      <li class="breadcrumb-item"><a href="#">Cart</a></li>
      <li class="breadcrumb-item"><a href="#">Order Placement Form</a></li>
      <li class="breadcrumb-item active" aria-current="page">Invoice</li>
    </ol>
  </nav>

  <div class="row">
    <h3 class="col mt-3">Thank you for eating with Super Pizza Bros!!</h3>
  </div>

  <div class="row">
      <h5 class="col m-3">Customer Name:<%=order.firstName %> <%= order.lastName %></h5>
      <h5 class="col m-3">Customer Address: <%= order.address %> </h5>
  </div>
  <div class="row">
      <h5 class="col m-3">Order ID:<%= order._id %></h5>
      <h5 class="col m-3">Mobile No.:<%= order.mobileNo %></h5> <!-- you can omit this value if you want-->
  </div>
  <hr>
  <% order.cart.forEach(item=>{ %>
    <div class="mt-3">
        <div class="row">
            <h5 class="col"><%= item.name %>[Quantity:<%= item.quantity %> ]</h5>
            <h5 class="col">Price: &#x20B9 <%= (parseInt(item.price) * parseInt(item.quantity)) %> </h5>
        </div>
    
        <div class="row">
            <h5 class="col">Size:<%= item.size %></h5>
        </div>
        
        <div class="row">
            <h5 class="col">Toppings:
                <% item.ingredients.forEach(topping=>{ %>
                    <%= topping %>,
                <% }) %>
            </h5>
        </div>
    </div>
 <% }) %>

  <hr>

  <div class="row">
      <h4 class="col">Grand Total (after 5% GST): &#x20B9 <%= order.grandTotal %> (Cash On Delivery)</h4>
  </div>
  <hr>

  <form action="/cancelOrder/order._id" class="row justify-content-end" method="delete">
      <button class="btn btn-danger col-2">Cancel Order</button>
  </form>
</div>

<% include partials/footer %>
